{$CADDY_FRONTEND_SITE_ADDRESS:http://localhost:3000} {
	encode zstd gzip

	reverse_proxy frontend-v2:3000
}

{$CADDY_API_SITE_ADDRESS:http://localhost:8080} {
	encode zstd gzip

	reverse_proxy backend:8080
}
